# Golang CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-go/ for more details
version: 2
jobs:
  build:
    docker:
      # specify the version
      - image: circleci/golang:1.10

    #### TEMPLATE_NOTE: go expects specific checkout path representing url
    #### expecting it in the form of
    ####   /go/src/github.com/circleci/go-tool
    ####   /go/src/bitbucket.org/circleci/go-tool
    working_directory: /go/src/github.com/johan-lejdung/go-microservice-api-template
    steps:
      - checkout

      # specify any bash command here prefixed with `run: `
      - run: go get -u github.com/stretchr/testify
      - run: go get github.com/vektra/mockery/.../
      - run: go generate ./...
      - run: ./test.sh
      - run: bash <(curl -s https://codecov.io/bash)
